body {
  background-color: $quaternary-color;
  font-family: 'Roboto Regular';
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;

  > .container--fluid {
    flex: 1;
  }
}
