// Website Pallete
$primary-color: #1c1c1c;
$secondary-color: #2b2d42;
$tertiary-color: #ef233c;
$quaternary-color: #edf2f4;

// Mapping colors
$site-colors: (
  'eerie-black': $primary-color,
  'space-cadet': $secondary-color,
  'imperial-red': $tertiary-color,
  'alice-blue': $quaternary-color
);

// Grid configuration
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;

$map-grid-props: (
  '': 0,
  '-sm': $grid__bp-sm,
  '-md': $grid__bp-md,
  '-lg': $grid__bp-lg,
  '-xl': $grid__bp-xl
);
